@charset "UTF-8";

@media screen and (min-width: 768px) {
    
    #burguer {
        display: none;
    }

    /*
    Está funcionando sem.

    div#itens {
        display: block;
    } 
    */

    div > ul > li {
        display: inline-block;
    }

}