@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#burguer {
    display: block;
    text-align: center;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul#itens {
    display: none;
    list-style-type: none;
}

nav > div >  ul > li > a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000000;
    
}