@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div#topo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#logo {
    margin: 10px;
}

#burguer {
    display: block;
    text-align: center;
    cursor: pointer;
    margin: 15px;
    margin-left: auto;
    background-color: blue;
}

ul#itens {
    display: none;
    list-style-type: none;
    text-align: center;
    width: 500px;
}

nav {
    background-color: red;
}

nav > div >  ul > li > a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000000;
}