@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(150, 150, 231);
}

header {
    background-color: #2D54A5;
    height: 150px;
}

header h1 {
    color: #ffffff;
    height: 60px;
    text-align: center;
    margin: auto;
    padding-top: 40px;
    
}
nav {
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.315);
}

nav a {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.4s;  
}

nav >a:hover {
    background-color: rgb(105, 105, 245);
    color: #ffffff
}

main {
    min-width: 350px;
    max-width: 700px;
    padding: 20px;
    margin: auto;
    background-color: white;
    text-align: justify;
}

main h1 {
    text-align: center;
}

main h2 {
    padding-top: 30px;
}

main p {
    margin: 10px 0px;
    text-indent: 30px;
    line-height: 2em;
}

div {
    display: flex;
    justify-content: center;
}

img {
    width: 300px;
    height: 210px;
    padding: 20px;
}

footer {
    background-color: #2D54A5;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}